.card {
    border: none;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom:  1px dotted #B3A9A9
}

.rounded-circle {
    height: 40px;
    width: 40px;
}

.card-body{
    overflow-y: scroll;
    height: 400px;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content:center;
}

input {
    height: 43px;
}

#scrollbar-style::-webkit-scrollbar-track
{
    /* background: red; */
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#scrollbar-style::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#scrollbar-style::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}